body{
    margin:0px;
    padding:0px;
}
#countries-container{
    margin-top: 20px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;  
}
.header{
    color:white;
    background-color:rgb(4, 140, 194);
    text-align:center;
    font-weight: 700;
    font-size: 40px;
}
#country-area{
    width:350px;
    text-align:center;
    border: 5px solid rgb(17, 103, 153);
    background-color: rgb(225, 238, 238);
    border-radius: 10px;
    padding:10px;
}
#country-area:hover{
    transform: scale(1.1);
    box-shadow: gray 5px 5px 5px 5px;
    
}
#country-area img{
    width:300px;
    height:150px;
}
#country-details{
    background-color: rgb(170, 164, 164);
    color:white;
    margin:0px auto;
    padding:20px;
    text-align:center;
    border: 6px solid rgb(59, 117, 240);
    border-radius:20px;
    width:400px;
    display: none;
}